*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  cursor: pointer;
}

.color-green {
  color: #18CFAB;
}

/* Header start */

.header {
  height: 100vh;
  background-image: url(../img/sections-background/section-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.nav-bar-bg {
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-bottom: 265px;
}

.logo-link {
  margin-right: auto;
}

.navigation-menu {
  display: flex;
  margin-right: 30px;
  justify-items: space-between;
}

.navigation-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 21px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #18CFAB;
  border-bottom: 2px solid #18CFAB;
  padding-bottom: 47px;
}

.search-icon {
  font-size: 21px;
}

.header-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 127px;
  padding-top: 264px;
}

.slogan-ham {
  font-size: 35px;
  line-height: 1px;
}

.slogan-creative {
  font-size: 78px;
  line-height: 1px;
  margin: 80px 0;
}

.slogan-light {
  font-size: 34px;
  line-height: 1px;
  font-weight: 400;
  text-transform: capitalize;
  color: #D4D4D4;
}

.btn-header {
  padding-top: 170px;
}

.btn {
  padding: 22px 28px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
  border-top: 4px solid #fff;
  cursor: pointer;
  background-color: #18CFAB;
  transition: all .3s;
}

.btn:hover {
  background-color: #00CBF6;
}

.btn-explore {
  padding: 22px 33px;
  margin-right: 26px;
}

/* Header end */


/* ---------Main start---------- */


/* Section squares start */

.section-squares {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.square {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  border-top: 8px solid #ffffff;
  height: 360px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.square-dark {
  background-color: #1C2A33;
}

.square-light {
  background-color: #18CFAB;
  color: #ffffff;
}

/* Section squares end*/


/* Services section start*/

.section-services {
  margin-top: 80px;
  margin-bottom: 90px;
}

.section-title {
  padding-bottom: 26px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #4E4E4E;
  text-align: center;
}

.title-line {
  margin: 0 auto;
  height: 5px;
  width: 75px;
  border-top: 1px solid #18CFAB;
  border-bottom: 1px solid #18CFAB;
  transform: skewX(75deg);
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 23px;
  width: 100%;
}

.services-tabs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 70px;
  background-color: #F8FCFE;
  border: 1.5px solid #F8FCFE;
  flex-grow: 1;
  position: relative;
}

.services-tabs-item.active::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #18CFAB;
}

.services-tabs-item:hover {
  border: 1.5px solid #18CFAB;
}

.services-tabs-item:active {
  background-color: #18CFAB;
  color: #ffffff;
}

.tabs-content-item,
.tabs-content .active {
  display: flex;
  gap: 20px;
}

.services-tabs-item.active {
  background-color: #18CFAB;
  color: #ffffff;
}

.tabs-content li {
  display: none;
}

.tabs-content-text {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}

/* Services section end*/


/* Section buy start */

.section-buy {
  background-image: url(../img/sections-background/section-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 476px;
  text-align: center;
  position: relative;
}

.section-buy__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.title-buy {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  padding-top: 127px;
  color: #18CFAB;
  text-transform: uppercase;
}

.text-buy {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  padding-top: 13px;
  padding-bottom: 67px;
  color: #D8D8D8;

}

/* Section buy end */


/* Section work start */

.section-work {
  padding-bottom: 100px;
  background-color: #E9EDEF;
  padding-top: 95px;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 71px;
}


.work-list {
  display: flex;
  margin-bottom: 71px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #DADADA;

}

.work-item {
  padding: 21px 15px;
  background-color: #F8FCFE;
  border: 1px solid #EDEFEF;
  color: #717171;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  min-width: 80px;
  justify-content: center;
}

.work-item:hover {
  border: 1px solid #18CFAB;
  color: #18CFAB;
}

.work-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;


}

.work-blocks-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.work-blocks-row.inactive {
  display: none;
}

.work-blocks-item {
  display: inline-block;
  width: 285px;
  height: 206px;
  /* overflow: hidden; */
  position: relative;
}

.work-blocks-item-details {
  width: 100%;
  height: 100%;
  background-color: #E9EDEF;
  border-top: 2px solid #18CFAB;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  color: #FFF;
  display: none;
  text-align: center;
}

.work-blocks-item:hover .work-blocks-item-details {
  display: inline-block;
  top: 0;
  left: 0;
}

.item-details-links {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.item-link {
  border: 1px solid #18CFAB;
  border-radius: 30px;
  padding: 12px;
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

.item-link:hover {
  background-color: #18CFAB;
}

.icon-chain {
  background-image: url(../img/icons/icon-chain.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-chain:hover {
  background-image: url(../img/icons/icon-chain-white.svg);
}

.item-link>span {
  width: 13px;
  height: 13px;
  border: 2px solid #18CFAB;
  display: inline-block;
}

.item-link:hover>span {
  background-color: #FFF;
  border: none;
  width: 13px;
  height: 13px;
}

.item-details-title {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #18CFAB;
  margin-top: 40px;
}

.item-details-subtitle {
  font-weight: 300;
  font-size: 12px;
  color: #8A8A8A;
  margin-top: 13px;
}

.btn-work {
  background: #18CFAB;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF;

  min-width: 168px;
  padding: 22px 0 22px 22px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  position: relative;
  border: none;
}

.btn-work:before {
  content: '+';
  position: absolute;
  left: 22px;
  font-size: 25px;
}

.hide {
  display: none;
}

/* Section work end */


/* Section news start */

.section-news {
  background: #FFF;
  padding: 82px 0;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-item {
  width: 265px;
  height: 281px;
  position: relative;
  margin-top: 68px;
  margin-bottom: 44px;
}

.news-title {
  font-weight: 700;
  font-size: 18px;
  color: #717171;
  padding-top: 16px;
  padding-left: 21px;
}

.news-item:hover .news-title {
  color: #18CFAB;
}

.news-autor,
.news-comments {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  color: #777;
  padding-top: 18px;
  padding-left: 18px;
}

.news-autor:after {
  content: '|';
  padding-left: 18px;
}

.news-date {
  width: 70px;
  height: 68px;
  position: absolute;
  top: 0;
  right: 2px;
  background-color: #203E38;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding-top: 9px;
  color: #FFF;
}

.news-item:hover .news-date {
  background-color: #18CFAB;
}


/* Section news end */


/* Section reviews start */

.reviews {
  padding: 105px 0;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../img/sections-background/section-3.jpg");
  color: #a3a7a8;
  font-size: 16px;
}

.reviews-title {
  padding-bottom: 30px;
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;
}

.slider {
  margin-top: 70px;
}


.inverted-quotes {
  margin: 0 auto;
  display: block;
  width: 45px;
}

.slider-comment {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-wrapper {
  position: relative;
  height: 425px;
  width: 100%;
}

.slider-user-review {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.slider-user-review.active {
  opacity: 1;
  transition: 1s;
  animation: show 3s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.slider-user-data-name {
  text-align: center;

  padding-bottom: 15px;
  font-size: 20px;
  ;
  color: #18cfab;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-user-data-profession {
  padding-bottom: 35px;
  text-align: center;
}

.slider-user-foto-big {
  margin: 0 auto;
  display: block;
  margin-bottom: 70px;
  height: 145px;
  width: 145px;
  box-sizing: border-box;
  border: 2px solid #18cfab;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #18cfab50;
  overflow: hidden;
}

.slider-area {
  display: flex;
  margin: 0 auto;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  user-select: none
}

.arrow-left {
  text-align: center;
  width: 30px;
  height: 30px;
  top: 16px;
  box-sizing: border-box;
  border: 1px solid #969a9c;
  color: #969a9c;
  font-size: 24px;
  line-height: 30px;
}

.arrow-right {
  text-align: center;
  width: 30px;
  height: 30px;
  top: 16px;
  box-sizing: border-box;
  border: 1px solid #969a9c;
  color: #969a9c;
  font-size: 24px;
  line-height: 30px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;

}

.slider-wrapper {
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.slider-user-foto-small {
  position: relative;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #18cfab50;
  overflow: hidden;
}

.slider-user-foto-small.active {
  border: 1px solid #18cfab;
  transform: translate3d(0px, -20px, 0px);
  transition: transform .4s ease-in-out;
  cursor: pointer;
}

.slider-user-foto {
  height: auto;
  width: 100%;
  object-fit: cover;
  cursor: pointer;

}

/* Section reviews end */

/* ---------Main end---------- */

/* Section footer start*/

.footer {
  background-color: #22353f;
}

.footer-text {
  padding: 47px 0;
  text-align: center;
}

.footer-text-link {
  color: #18CFAB;
}